<div class="container">
    <ng-container *ngIf="!showForm;else elseBlock">
        <div class="blog-container">
            <h1>Blog Management</h1>
            <div class="grid">
                <div class="search">
                    <label>Search:</label>
                    <input type="text" placeholder="Search blog" #searchString /><span><mat-icon>search</mat-icon></span>
                </div>
                <div class="add-category-button1">
                    <button type="button" (click)="showBlogForm()">Add New Blog</button>
                </div>
            </div>
        </div>
        <div class="blog-list">
            <!-- <ng-container *ngIf="blogList.length > 0; else elseBlock1"> -->
            <table>
                <thead>
                    <tr>
                        <th>Sr no.</th>
                        <th>Blog's Name</th>
                        <th>Description</th>
                        <th>Published on</th>
                        <th>URL</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Blog A</td>
                        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, aperiam.</td>
                        <td>08-06-2023</td>
                        <td>http://myBlog.com</td>
                        <td>
                            <mat-icon (click)="deleteBlog(0)">delete</mat-icon>
                            <mat-icon (click)="editBlog(0)">edit</mat-icon>
                            <mat-icon>visibility</mat-icon>
                            <mat-icon>cloud_upload</mat-icon>
                        </td>
                    </tr>
                    <!-- <tr *ngFor="let cat of blogList;let i =index">
                            <td>{{i + 1}}</td>
                            <td>{{cat.category_name}}</td>
                            <td>0</td>
                            <td *ngIf="cat.status;else showThis">Enabled</td>
                            <ng-template #showThis>
                                <td>Disabled</td>
                            </ng-template>
                            <td class="icon-group">
                                <mat-icon (click)="editBlog(cat._id)">edit</mat-icon>
                                <mat-icon (click)="deleteBlog(cat._id)">delete</mat-icon>
                            </td>
                        </tr> -->
                </tbody>
            </table>
            <!-- </ng-container> -->
            <ng-template #elseBlock1>
                <h1>No result found !!!</h1><mat-icon class="search_icon">search</mat-icon>
            </ng-template>
        </div>
    </ng-container>
    <ng-template #elseBlock>
        <button (click)="hideBlogForm()">cancel</button>
        <div class="blog-form">
            <h1>Blog's Detail</h1>
            <form [formGroup]="blogForm" (ngSubmit)="onSubmit()">
                <div class="input-group">
                    <div class="title">
                        <input type="text" placeholder="Add title" formControlName="title" />
                        <div *ngIf="blogForm.get('title')?.touched && blogForm.get('title')?.invalid">
                            <div class="error_message" *ngIf="blogForm.get('title')?.errors.required">
                                Title is
                                required.</div>
                            <div class="error_message" *ngIf="blogForm.get('title')?.errors.minlength">
                                Title must be at least 3 characters long.</div>
                        </div>
                    </div>
                    <div class="url">
                        <input type="text" placeholder="Add url" formControlName="url" />
                        <div *ngIf="blogForm.get('url')?.touched && blogForm.get('url')?.invalid">
                            <div class="error_message" *ngIf="blogForm.get('url')?.errors.required">url is
                                required.</div>
                        </div>
                    </div>
                </div>
                <div class="blog-image">
                    <input type="file" formControlName="blog_image" />
                </div>
                <div class="editor">
             
                </div>
                <div class="submit-btn">
                    <button type="submit" [disabled]="blogForm.invalid">Upload</button>
                </div>
            </form>
        </div>
    </ng-template>
</div>