<div class="container">
    <ng-container *ngIf="!showForm;else elseBlock">
        <div class="blog-container">
            <h1>Blog Management</h1>
            <div class="grid">
                <div class="search">
                    <label>Search:</label>
                    <input type="text" placeholder="Search Blog" #searchString (keydown)="search(searchString.value)" />
                </div>
                <div class="add-category-button1">
                    <button type="button" (click)="showBlogForm()">Add New Blog</button>
                </div>
            </div>
        </div>
        <div class="blog-list">
            <ng-container *ngIf="blogList.length > 0;else showThis">
                <table>
                    <thead>
                        <tr>
                            <th>Sr no.</th>
                            <th>Blog's Name</th>
                            <th>Published on</th>
                            <th>URL</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of blogList;let i=index">
                            <td>{{i +1}}</td>
                            <td>{{data.title}}</td>
                            <td>{{data.pulished_on | date}}</td>
                            <td>
                                <a href="{{data.url}}">{{data.url}}</a>
                            </td>
                            <td class="icon-group">
                                <mat-icon (click)="deleteBlog(data._id)">delete</mat-icon>
                                <mat-icon (click)="editBlog(data._id)">edit</mat-icon>
                                <mat-icon (click)="blogDetail(data._id)">visibility</mat-icon>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </ng-container>
            <ng-template #showThis>
                <h1>No result found !!!</h1><mat-icon class="search_icon">search</mat-icon>
            </ng-template>
        </div>
    </ng-container>
    <ng-template #elseBlock>
        <div class="blog-form">
            <h1>Blog's Detail</h1>
            <div class="demo-url">
                <label>Your Url :</label>
                <p>http://localhost:4200/blog/{{blogForm.get('url').value}}</p>
            </div>
            <form [formGroup]="blogForm" (ngSubmit)="onSubmit()">
                <div class="input-group">
                    <div class="title">
                        <input type="text" placeholder="Add title" formControlName="title" maxlength="10" />
                        <div *ngIf="blogForm.get('title')?.touched && blogForm.get('title')?.invalid">
                            <div class="error_message" *ngIf="blogForm.get('title')?.errors.required">
                                Title is
                                required.</div>
                            <div class="error_message" *ngIf="blogForm.get('title')?.errors.minlength">
                                Title must be at least 3 characters long.</div>
                        </div>
                    </div>
                    <div class="url">
                        <input type="text" placeholder="Add url (Optional)" formControlName="url" maxlength="10" />
                        <div *ngIf="blogForm.get('url')?.touched && blogForm.get('url')?.invalid">
                            <div class="error_message" *ngIf="blogForm.get('url')?.errors.minlength">url
                                must be at least 3 characters long.</div>
                            <div class="error_message" *ngIf="blogForm.get('url')?.errors.pattern">url is
                                wrong.</div>
                        </div>
                    </div>
                </div>
                <div class="blog-image">
                    <input id="upload" type="file" #filename (change)="onFileselect($event)"
                        formControlName="blog_image" />
                    <div *ngIf="blogForm.get('blog_image')?.touched && blogForm.get('blog_image')?.invalid">
                        <div class="error_message" *ngIf="blogForm.get('blog_image')?.errors.required">Blog image is
                            required.</div>
                    </div>
                    <label for="upload" class="upload-label">
                        <div class="upload-image">
                            <mat-icon>cloud_upload</mat-icon>
                            <p>Add Image</p>
                        </div>
                    </label>
                </div>
                <div class="angular-editor">
                    <angular-editor [(ngModel)]="htmlContent" [ngModelOptions]="{standalone: true}"
                        [config]="config"></angular-editor>
                    <div *ngIf="blogForm.get('description')?.touched && blogForm.get('description')?.invalid">
                        <div class="error_message" *ngIf="blogForm.get('description')?.errors.required">Description
                            is required.</div>
                    </div>
                </div>
                <div class="submit-btn">
                    <button type="submit" [disabled]="blogForm.invalid">Upload</button>
                    <button type="button" (click)="hideBlogForm()">Cancel</button>
                </div>
            </form>
        </div>
    </ng-template>
</div>