.container {
    width: 100%;
}

.blog-container {
    text-align: center;
}

.blog-container h1 {
    color: rgb(0, 111, 111);
    margin-top: 20px;
}

.grid {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}

.search label {
    font-size: 20px;
    margin-right: 20px;
}

.search input {
    height: 30px;
    width: 300px;
    border: 1.5px solid black;
    border-radius: 5px;
}

.add-category-button1 button {
    height: 40px;
    width: 150px;
    border: 2px solid black;
    border-radius: 5px;
    padding-bottom: 25px;
    padding-top: 10px;
    background-color: rgb(0, 111, 111);
    color: white;
}

mat-icon {
    cursor: pointer;
}


// Category list
.blog-list {
    margin-top: 60px;
}

.blog-list h1 {
    margin-top: 150px;
    text-align: center;
}

table {
    width: 90%;
    margin: auto;
    border-collapse: collapse;
}

table th {
    background-color: rgb(172, 169, 169);
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
}

table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
}

table tr:hover {
    background-color: #eaeaea;
}

.icon-group {
    display: flex;
    justify-content: space-around;
}

.category-list h1 {
    text-align: center;
}

.search_icon {
    margin-left: 900px;
}


// Blog Form

.blog-form {
    width: 800px;
    height: 700px;
    margin: auto;
    text-align: center;
    border: 2px solid black;
    border-radius: 15px;
}

.blog-form h1 {
    color: rgb(0, 111, 111);
    margin-top: 20px;
}

.input-group {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.input-group input {
    width: 280px;
    height: 30px;
    border: 1.5px solid black;
    border-radius: 5px;
}

.blog-image {
    margin-top: 40px;
    text-align: center;
}

input[type='file'] {
    display: none;
}

.upload-label {
    padding-left: 320px;
}

.upload-image {
    border: 2px solid black;
    width: 100px;
    cursor: pointer;
    margin-left: 320px;
    padding: 20px;
}

.angular-editor {
    margin-top: 40px;
    width: 700px;
    margin-left: 50px;
}

.submit-btn {
    margin-top: 50px;
}

.submit-btn button {
    width: 133px;
    height: 40px;
    background-color: rgb(0, 111, 111);
    color: white;
    border-radius: 5px;
    border: 1.5px solid;
    font-size: 17px;
}

.error_message {
    color: red;
}