.container {
    width: 400px;
    height: 300px;
    margin: 40px;
    text-align: center;
}

mat-icon {
    float: right;
    margin-top: -32px;
    cursor: pointer;
}

.container h1 {
    color: rgb(0, 111, 111);
}

.category_name {
    display: flex;
    justify-content: space-between;
}

.category_name label {
    margin-top: 35px;
    font-weight: bold;
    font-size: 16px;
}

.category_name input {
    width: 260px;
    height: 30px;
    border: 1.5px solid black;
    border-radius: 5px;
    margin-top: 35px;
}

.status {
    display: flex;
    justify-content:space-between;
}

.status label {
    margin-top: 35px;
    font-weight: bold;
    font-size: 16px;
}

.slide-toggle{
    margin-top: 35px;
    margin-right: 175px;
}

.save_btn {
    margin-top: 60px;
}

.save_btn button {
    width: 133px;
    height: 40px;
    background-color: rgb(0, 111, 111);
    color: white;
    border-radius: 5px;
    border: 1.5px solid;
    font-size: 17px;
    cursor: pointer;
}

.error_message {
    color: red;
}