<div class="container">
    <mat-icon (click)="close()">close</mat-icon>
    <h1>Add new category</h1>
    <div class="category-form">
        <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
            <div class="category_name">
                <label for="category_name">Category Name :</label>
                <input type="text" placeholder="Category name" formControlName="category_name" id="category_name" />
            </div>
            <div *ngIf="categoryForm.get('category_name')?.touched && categoryForm.get('category_name')?.invalid">
                <div class="error_message" *ngIf="categoryForm.get('category_name')?.errors.required">
                    Category name is
                    required.</div>
            </div>
            <div class="status">
                <label for="status">Enable category :</label>
                <mat-slide-toggle #toggle (click)="setValue(toggle.checked)" class="slide-toggle" id="status"></mat-slide-toggle>
            </div>
            <div *ngIf="categoryForm.get('status')?.touched && categoryForm.get('status')?.invalid">
                <div class="error_message" *ngIf="categoryForm.get('status')?.errors.required">
                    Status is
                    required.</div>
            </div>
            <div class="save_btn">
                <button type="submit">Save</button>
            </div>
        </form>
    </div>
</div>