.container {
    padding: 10px;
}

.container .close-modal {
    float: right;
}

.container .close-modal mat-icon {
    cursor: pointer;
}

.container h1 {
    text-align: center;
    color: rgb(0, 111, 111);
    margin-bottom: 40px;
    margin-left: 30px;
}

.file-upload {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    margin-right: 226px;
}

.file-upload label {
    display: flex;
    justify-content: center;
}

.file-upload input[type='file'] {
    display: none;
}

.file-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    padding: 10px;
    cursor: pointer;
    width: 100px;
    margin-left: 230px;
}

.selected-document {
    border: 2px solid black;
    width: 350px;
    text-align: center;
    border-left: none;
}

.selected-document label {
    font-weight: bold;
}

.title,
.description {
    text-align: center;
    margin-top: 40px;
}

.title label {
    margin-right: 40px;
    font-weight: bold;
}

.description label {
    margin-right: 40px;
    margin-left: -45px;
    font-weight: bold;
}


.title input {
    height: 30px;
    width: 280px;
    border: 1.5px solid black;
    border-radius: 5px;
}

.description input {
    height: 120px;
    width: 280px;
    border: 1.5px solid black;
    border-radius: 5px;
}

.submit-button {
    margin-top: 80px;
    text-align: center;
}

.submit-button button {
    height: 30px;
    width: 120px;
    border-radius: 5px;
    background-color: rgb(0, 111, 111);
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.submit-button button:disabled {
    background-color: gray;
    color: black;
    cursor: not-allowed;
}

.error_message {
    color: red;
    text-align: center;
}