<div class="container">
    <ng-container *ngIf="!showContact; else elseBlock;">
        <div class="aboutUs">
            <h1>About Us</h1>
            <div class="button-group">
                <button [ngClass]="{'changeStyle':showContact === false}" (click)="showAboutUs()">About
                    Us</button>
                <button [ngClass]="{'changeStyle':showContact !== false}" (click)="showContactUs()">Contact
                    Us</button>
            </div>
            <div class="title">
                <label> Title of the content :</label>
                <input type="text" [(ngModel)]="document.title">
                <div class="error_message" *ngIf="document.title ==''"> Title is required.</div>
            </div>
            <div class="angular-editor">
                <label for="">Description :</label>
                <angular-editor [(ngModel)]="document.content" [ngModelOptions]="{standalone: true}"
                    [config]="config"></angular-editor>
                <div class="error_message" *ngIf="document.content ==''">Content is required.</div>
            </div>
            <div class="submit-button">
                <ng-container *ngIf="document._id != '';else saveButton">
                    <button type="button" [disabled]="document.title =='' || document.content ==''"
                        (click)="updateAboutUs()">Update</button>
                </ng-container>
                <ng-template #saveButton>
                    <button type="button" [disabled]="document.title =='' || document.content ==''"
                        (click)="saveAboutUs()">Save</button>
                </ng-template>
            </div>
        </div>
    </ng-container>
    <ng-template #elseBlock>
        <div class="contactUs">
            <h1>Contact Us</h1>
            <div class="button-group">
                <button [ngClass]="{'changeStyle':showContact===false}" (click)="showAboutUs()">About
                    Us</button>
                <button [ngClass]="{'changeStyle':showContact!==false}" (click)="showContactUs()">Contact
                    Us</button>
            </div>
            <div class="search">
                <label for="">Search :</label>
                <input type="text" placeholder="search here" />
            </div>
            <div class="table">
                <table>
                    <thead>
                        <tr>
                            <th>Sr no.</th>
                            <th>User Name</th>
                            <th>Email Address</th>
                            <th>Subject</th>
                            <th>Message</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of [1,1,1,1];let i=index">
                            <td>{{i +1}}</td>
                            <td>dhfgdjd</td>
                            <td>gdfhfg</td>
                            <td>
                                ggsdhghdh
                            </td>
                            <td class="icon-group">
                                fghdhfgjfgh
                            </td>
                            <td>
                                <mat-icon>visibility</mat-icon>
                                <mat-icon>reply</mat-icon>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </ng-template>
</div>