.aboutUs {
    padding: 20px;
    width: 80%;
    margin: auto;
}

.button-group {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.button-group button {
    width: 450px;
    height: 30px;
}

.aboutUs h1 {
    text-align: center;
    color: rgb(0, 111, 111);
}

.submit-button {
    text-align: center;
    margin-top: 60px;
}

.submit-button button {
    background-color: rgb(0, 111, 111);
    color: white;
    font-size: 16px;
    width: 150px;
    height: 30px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}


//kghfjkdhjkgnhjksgl
.contactUs {
    padding: 20px;
    width: 80%;
    margin: auto;
}

.button-group {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.button-group button {
    width: 450px;
    height: 30px;
    cursor: pointer;
    font-size: 16px;
}

.contactUs h1 {
    text-align: center;
    color: rgb(0, 111, 111);
}

.search label {
    margin-right: 10px;
    font-size: 16px;
}

.search input[type='text'] {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: 1.5px solid black;
}

table {
    width: 90%;
    margin: auto;
    border-collapse: collapse;
}

table th {
    background-color: rgb(172, 169, 169);
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
}

table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
}

table tr:hover {
    background-color: #eaeaea;
}

.changeStyle {
    background-color: rgb(0, 111, 111);
    color: white;
}