.container {
    width: 300px;
    height: 300px;
}

input {
    height: 30px;
    width: 300px;
    border: 1.5px solid black;
    border-radius: 5px;
}

.grid-container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-left: 40px;
    margin-top: 60px;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-left: 90px;
}

button {
    margin-top: 70px;
    height: 40px;
    margin-left: 10px;
    width: 150px;
    border: 2px solid black;
    border-radius: 5px;
    padding-bottom: 25px;
    padding-top: 10px;
    background-color: rgb(0, 111, 111);
    color: white;
}

button:disabled {
    background-color: #cccccc;
    color: black;
    cursor: not-allowed;
}

.error_message {
    color: red;
}