<div class="container">
    <div class="form">
        <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
            <input type="hidden" formControlName="_id">
            <div class="grid-container">
                <div class="first_name">
                    <input type="text" placeholder="First Name" formControlName="first_name" />
                    <div *ngIf="editForm.get('first_name')?.touched && editForm.get('first_name')?.invalid">
                        <div class="error_message" *ngIf="editForm.get('first_name')?.errors.required">First
                            Name is
                            required.</div>
                    </div>
                </div>
                <div class="last_name">
                    <input type="text" placeholder="Last Name" formControlName="last_name" />
                    <div *ngIf="editForm.get('last_name')?.touched && editForm.get('last_name')?.invalid">
                        <div class="error_message" *ngIf="editForm.get('last_name')?.errors.required">Last
                            Name is
                            required.</div>
                    </div>
                </div>
                <div class="phone-number">
                    <input type="text" placeholder="Phone Number" formControlName="phone_number" />
                    <div *ngIf="editForm.get('phone_number')?.touched && editForm.get('phone_number')?.invalid">
                        <div class="error_message" *ngIf="editForm.get('phone_number')?.errors.required">
                            phone_number is
                            required.</div>
                        <div class="error_message" *ngIf="editForm.get('phone_number')?.errors.minlength">
                            Phone Number must be at least 10 characters
                            long. </div>
                    </div>
                </div>
            </div>
            <div class="button-group">
                <button type="submit" [disabled]="editForm.invalid">Update</button>
                <button type="button" (click)="cancel()">Cancel</button>
            </div>
        </form>
    </div>
</div>