<ng-container *ngIf="blogInfo;else elseBlock">
    <div class="container">
        <div class="blog-title">
            <h2>{{blogInfo.title}}</h2>
        </div>
        <div class="blog-image">
            <img src="http://localhost:8001/{{blogInfo.blog_image}}" alt="Blog image">
        </div>
        <div class="blog-published">
            <label>Published On :</label>
            {{blogInfo.pulished_on}}
        </div>
        <div class="blog-description">
            <ul>
                <li *ngFor="let a of [1,1,1,1]">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos culpa voluptate corrupti dolores
                    tempora consequuntur qui, dolorem consequatur, porro deleniti debitis ullam. Sapiente dolorem
                    numquam doloremque voluptas vel fugiat odit cumque in eos? Tempore, dolores accusamus illo nihil,
                    debitis error officiis maxime porro quibusdam dolorem ut eveniet molestias reiciendis minima eius,
                    numquam nobis sunt nemo laborum soluta harum in deleniti!
                </li>
            </ul>
        </div>
        <div class="back-button">
            <button (click)="goBack()">Back</button>
        </div>
    </div>
</ng-container>
<ng-template #elseBlock>
    <div class="else-container">
        <h1>No Blog Found!!!</h1>
    </div>
</ng-template>