.container {
    width: 100%;
    height: 700px;
    margin: auto;
    text-align: center;
}

.blog-title {
    margin-top: 40px;
}

.blog-title h2 {
    font-size: 50px;
}

.blog-image {
    margin-top: 40px;
}

.blog-image img {
    height: 300px;
    width: 300px;
}

.blog-published {
    margin-top: 40px;
}

label {
    font-weight: bold;
    margin-right: 20px;
}

.blog-description {
    margin-top: 40px;
    width: 800px;
    margin: auto;
}

.back-button {
    margin-top: 40px;
}

.back-button button {
    height: 40px;
    width: 150px;
    color: white;
    background-color: rgb(0, 111, 111);
    border-radius: 5px;
    border: 1.5px solid black;
    cursor: pointer;
}