.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.close-icon {
  cursor: pointer;
  float: right;
  margin-right: -80px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: rgb(0, 111, 111);
}

.selected-image {
  border: 2px solid black;
  width: 100px;
  height: 81px;
  border-left: none;
}

.selected-image img {
  width: 100px;
  height: 81px;
}

.file-upload {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  margin-right: 226px;
}

.file-upload input[type='file'] {
  display: none;
}

.file-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  padding: 10px;
  cursor: pointer;
  width: 100px;
  margin-left: 230px;
}

.file-logo p {
  margin-top: 5px;
  font-size: 14px;
  font-weight: bold;
}

.input-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.product_name,
.category {
  flex-basis: 48%;
}

label {
  font-weight: bold;
}

select,
input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.description,
.investment,
.payment-period,
.Payment-type,
.return,
.enable-product,
.add-images,
.add-documents,
.add-video {
  margin-bottom: 20px;
}

.Payment-type input[type="radio"] {
  margin-right: 5px;
}

.payment,
.week,
.frequency,
.return-rate {
  display: inline-block;
  margin-right: 10px;
}

.slide-toggle {
  vertical-align: middle;
  margin-left: 20px;
}

hr {
  margin-bottom: 20px;
}

.add-images input[type='file'] {
  display: none;
}

.file-icon-label {
  width: 120px;
  height: 120px;
  border: 1.5px solid black;
}

.close {
  cursor: pointer;
  background-color: #ccc;
  border-radius: 50%;
  position: absolute;
  margin-left: -20px;
  margin-top: -76px;
}

.file-icon-label .add {
  text-align: center;
  background: linear-gradient(90deg, #fbd709, #e94f24);
  margin-left: 50px;
  margin-top: 50px;
}

.add-images .image {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.add-images .image>div {
  width: 20%;
  display: flex;
  align-items: center;
  margin-right: 24px;
  margin-bottom: 20px;
}

.add-images label {
  margin-right: 10px;
  cursor: pointer;
}

.add-images .image img {
  border: 1px solid black;
  margin-top: 4px;
}

.add-documents .document {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.add-documents .document>div {
  width: 20%;
  display: flex;
  align-items: center;
  margin-right: 24px;
  margin-bottom: 20px;
}

.add-documents label {
  margin-right: 10px;
  cursor: pointer;
}

.add-documents input[type='file'] {
  display: none;
}

.add-documents .document img {
  border: 1px solid black;
  margin-top: 4px;
}

.file-icon-label .pdf {
  text-align: center;
  margin-left: 50px;
  margin-top: 50px;
}

.video {
  width: 120px;
  height: 120px;
  border: 1.5px solid black;
  cursor: pointer;
}

.video-icon-pdf {
  width: 120px;
  height: 120px;
  border: 1.5px solid black;
  cursor: pointer;
}

.video input[type='file'] {
  display: none;
}

.video mat-icon {
  margin-left: 50px;
  margin-top: 50px;
}

.add_image_icon {
  font-size: 30px;
  color: blue;
  cursor: pointer;
}

.add_document_icon {
  font-size: 30px;
  color: green;
  cursor: pointer;
}

.sbmit-button {
  text-align: center;
}

.sbmit-button button {
  width: 133px;
  height: 40px;
  background-color: rgb(0, 111, 111);
  color: white;
  border-radius: 5px;
  border: 1.5px solid;
  font-size: 17px;
  cursor: pointer;
}

.sbmit-button button:disabled {
  background-color: gray;
  color: black;
  cursor: not-allowed;
}