<div class="container">
    <h1>Users</h1>
    <div class="user-container">
        <div class="active-users">
            <span>{{activeCount}}</span>
            <mat-icon>person</mat-icon>
            <p>Active Users</p>
        </div>
        <div class="inactive-users">
            <span>{{inactiveCount}}</span>
            <mat-icon>person</mat-icon>
            <p>Inactive Users</p>
        </div>
        <div class="register-users">
            <span>{{registerCount}}</span>
            <mat-icon>person</mat-icon>
            <p>Registered Users</p>
        </div>
    </div>
</div>