<div class="container">
    <ng-container *ngIf="!showSetting; else elseBlock;">
        <h1>Change Password</h1>
        <div class="button-group">
            <button [ngClass]="{'class1': showSetting===false}" (click)="changePassword()">Change Password</button>
            <button [ngClass]="{'class1': showSetting!==false}" (click)="setting()">Setting</button>
        </div>
        <form [formGroup]="changePwdForm" (ngSubmit)="onSubmit()">
            <div class="old-password">
                <label> Old Password : </label>
                <input [type]="hide.hide1 ?  'password':'text'" formControlName="old_password" />
                <mat-icon (click)="hide.hide1 = !hide.hide1">{{hide.hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
            </div>
            <div *ngIf="changePwdForm.get('old_password')?.touched && changePwdForm.get('old_password')?.invalid">
                <div class="error_message" *ngIf="changePwdForm.get('old_password')?.errors.required">
                    Old password is
                    required.</div>
            </div>
            <div class="new-password">
                <label> New Password : </label>
                <input [type]="hide.hide2 ? 'password':'text'" formControlName="new_password" />
                <mat-icon (click)="hide.hide2 = !hide.hide2">{{hide.hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
            </div>
            <div *ngIf="changePwdForm.get('new_password')?.touched && changePwdForm.get('new_password')?.invalid">
                <div class="error_message" *ngIf="changePwdForm.get('new_password')?.errors.required">
                    New password is required.</div>
                <div class="error_message" *ngIf="changePwdForm.get('new_password')?.errors.minlength">
                    New password must be six charaacter long.</div>
            </div>
            <div class="confirm-password">
                <label> Confirm Password : </label>
                <input [type]="hide.hide3 ?  'password':'text'" formControlName="confirm_password" />
                <mat-icon (click)="hide.hide3 = !hide.hide3">{{hide.hide3 ? 'visibility_off' : 'visibility'}}</mat-icon>
            </div>
            <div
                *ngIf="changePwdForm.get('confirm_password')?.touched && changePwdForm.get('confirm_password')?.invalid">
                <div class="error_message" *ngIf="changePwdForm.get('confirm_password')?.errors.required">
                    Confirm password is required.</div>
                <div class="error_message" *ngIf="changePwdForm.get('confirm_password')?.errors.passwordMismatch">
                    New password and Confirm password not matched.</div>
            </div>
            <div class="submit-button">
                <button type="submit" [disabled]="changePwdForm.invalid">Save</button>
            </div>
        </form>
    </ng-container>
    <ng-template #elseBlock>
        <h1>Setting</h1>
        <div class="button-group">
            <button [ngClass]="{'class1': showSetting===false}" (click)="changePassword()">Change
                Password</button>
            <button [ngClass]="{'class1': showSetting!==false}" (click)="setting()">Setting</button>
        </div>
        <form>
            <div class="old-password">
                <label> Register email : </label>
                <input type="text" />
            </div>
            <div class="new-password">
                <label> Order email : </label>
                <input type="text" />
            </div>
            <div class="confirm-password">
                <label> Contact us : </label>
                <input type="text" />
            </div>
        </form>
    </ng-template>
</div>