<div class="container">
    <mat-icon (click)="close()">close</mat-icon>
    <h1>User Detail</h1>
    <div class="grid-view">
        <div>
            <label>User ID :</label><span>{{user._id}}</span>
        </div>
        <div>
            <label>First Name :</label><span>{{user.first_name}}</span>
        </div>
        <div>
            <label>Middle Name :</label><span>{{user.middle_name}}</span>
        </div>
        <div>
            <label>Last Name :</label><span>{{user.last_name}}</span>
        </div>
        <div>
            <label>Name :</label><span>{{user.first_name + ' ' + user.last_name}}</span>
        </div>
        <div>
            <label>Date Of Birth :</label><span>{{user.date_of_birth | date}}</span>
        </div>
        <div>
            <label>Gender :</label><span>{{user.gender}}</span>
        </div>
        <div>
            <label>Total amount Invested :</label><span>{{user.investment | currency: 'USD'}}</span>
        </div>
        <div>
            <label>Email Address:</label><span>{{user.email}}</span>
        </div>
        <div>
            <label>Phone Number :</label><span>{{user.phone_number}}</span>
        </div>
        <div>
            <label>User Type :</label><span>{{user.user_type}}</span>
        </div>
        <div>
            <label>Job Title :</label><span>{{user.job_title}}</span>
        </div>
        <div>
            <label>Status :</label><span>{{user.status}}</span>
        </div>
        <div></div>
    </div>
    <div class="button-group">
        <button class="deactivate-button" (click)="deactivateUser()">Deactivate User</button>
        <button class="delete-button" (click)="deleteUser()">Delete User</button>
    </div>
</div>