.container {
    padding: 20px;
    text-align: center;
}

mat-icon {
    float: right;
    cursor: pointer;
}

.container h1 {
    color: rgb(0, 111, 111);
}

.grid-view {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 40px;
    border: 2px solid black;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
}

.grid-view label {
    font-weight: bold;
    font-size: 16px;
    margin-right: 15px;
}

.grid-view span {
    font-size: 16px;
}

.button-group {
    margin-top: 60px;
}

.deactivate-button {
    margin-right: 40px;
    width: 183px;
    height: 40px;
    background-color: rgb(0, 111, 111);
    color: white;
    border-radius: 5px;
    border: 1.5px solid;
    font-size: 17px;
    cursor: pointer;
}

.delete-button {
    margin-right: 40px;
    width: 133px;
    height: 40px;
    background-color: red;
    color: white;
    border-radius: 5px;
    border: 1.5px solid;
    font-size: 17px;
    cursor: pointer;
}