  mat-icon {
    margin-right: 20px;
  }

  .product-icon {
    background-color: black;
    color: white;
    border-radius: 50%;
    padding: 1px;
  }

  a {
    margin-bottom: 10px;
    border-bottom: 1px solid black;
  }

  a:hover {
    background-color: rgb(241, 241, 241);
  }

  .report-icon {
    border: 2px solid black;
    border-top: none;
    border-right: none;
  }

  mat-expansion-panel{
    border-bottom: 1px solid black;
  }