<div class="container">
    <div class="dashboard_icon_container">
        <mat-icon class="dashboard_icon" (click)="sidenav.toggle()">dashboard</mat-icon>
    </div>
    <div class="sidenav_container">
        <mat-sidenav-container>
            <mat-sidenav #sidenav mode="side">
                <mat-nav-list>
                    <a mat-list-item routerLink="home"><mat-icon>home</mat-icon>Home</a>
                    <a mat-list-item routerLink="subAdmin"><mat-icon>groups</mat-icon>Sub-admin Management</a>
                    <a mat-list-item routerLink="users"><mat-icon>person</mat-icon>Users Management</a>
                    <a mat-list-item routerLink="category"><mat-icon>add_circle</mat-icon>Category Management</a>
                    <a mat-list-item routerLink="product"><mat-icon class="product-icon">local_parking</mat-icon>Product
                        Management</a>
                        <a mat-list-item routerLink="blog"><mat-icon>library_books</mat-icon>Blog Management</a>
                    <a mat-list-item routerLink="content"><mat-icon> insert_drive_file</mat-icon>Content Management</a>
                    <a mat-list-item routerLink="uploadDocument"><mat-icon>cloud_upload</mat-icon>Upload Doacument</a>
                    <a mat-list-item routerLink="notification"><mat-icon>notifications_none</mat-icon>Send
                        Notification</a>
                    <a mat-list-item routerLink="account"><mat-icon>person</mat-icon>Account</a>
                    <a mat-list-item (click)="logout()"><mat-icon>exit_to_app</mat-icon>Logout</a>
                </mat-nav-list>
            </mat-sidenav>
            <mat-sidenav-content>
                <div style="height: 88vh;">
                    <router-outlet></router-outlet>
                </div>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>
</div>